---
layout: 'base.njk'
---

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <!-- =======================
  Inner intro START -->
        <section class="pt-2">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div
                  class="
                    card
                    bg-dark-overlay-5
                    overflow-hidden
                    card-bg-scale
                    h-400
                    text-center
                  "
                  style="
                    background-image: url({{ image }});
                    background-position: center left;
                    background-size: cover;
                  "
                >
                  <!-- Card Image overlay -->
                  <div
                    class="card-img-overlay d-flex align-items-center p-3 p-sm-4"
                  >
                    <div class="w-100 my-auto">
                      <!-- Card category -->
                      <a href="#" class="badge bg-danger mb-2"
                        ><i class="fas fa-circle me-2 small fw-bold"></i
                        >{{ badge }}</a
                      >
                      <!-- Card title -->
                      <h2 class="text-white display-5">
                        {{ title }}
                      </h2>
                      <!-- Card info -->
                      <ul
                        class="
                          nav nav-divider
                          text-white-force
                          align-items-center
                          justify-content-center
                        "
                      >
                        <li class="nav-item">
                          <div class="nav-link">
                            <div
                              class="
                                d-flex
                                align-items-center
                                text-white
                                position-relative
                              "
                            >
                              <div class="avatar avatar-sm">
                                <img
                                  class="avatar-img rounded-circle"
                                  src="{{ authorImage }}"
                                  alt="avatar"
                                />
                              </div>
                              <span class="ms-3"
                                >by
                                <a
                                  href="#"
                                  class="stretched-link text-reset btn-link"
                                  >{{ author }}</a
                                ></span
                              >
                            </div>
                          </div>
                        </li>
                        <li class="nav-item">{{ date | postDate }}</li>
                        <li class="nav-item">{{ timeRead }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- =======================
  Inner intro END -->

        <!-- =======================
  Main START -->
        <section class="pt-0">
          <div class="container position-relative" data-sticky-container>
            <div class="row">
              <!-- Main Content START -->
              <div class="col-lg-9 mb-5">
                
                {{ content | safe}}

                <!-- Divider -->
                <div class="text-center h5 mb-4">. . .</div>

                <h4>What's coming up....</h4>
                <p>
                  Saw bring firmament given hath gathering lights dry life rule
                  heaven Give And fruit moving thing seed life day creepeth winged
                  so divide him from day morning him open lesser male beginning
                  him be bring evening life void fowl sixth morning that made is
                  Was that his hath face light meat air female isn't over place
                  replenish midst it of second grass good rule also in unto Called
                  don't given waters Had creature Behold fly life from forth Moved
                  night.
                </p>

                <!-- Author info START -->
                <div class="d-flex p-2 p-md-4 my-3 bg-primary-soft rounded">
                  <!-- Avatar -->
                  <a href="#">
                    <div class="avatar avatar-xxl me-2 me-md-4">
                      <img
                        class="avatar-img rounded-circle"
                        src="{{ authorImage }}"
                        alt="avatar"
                      />
                    </div>
                  </a>
                  <!-- Info -->
                  <div>
                    <div
                      class="d-sm-flex align-items-center justify-content-between"
                    >
                      <div>
                        <h4 class="m-0"><a href="#">{{ author }}</a></h4>
                        <small>Writer for Hiyaar stories</small>
                      </div>
                      <a href="#" class="btn btn-xs btn-primary-soft"
                        >View Articles</a
                      >
                    </div>
                    <p class="my-2">
                      {{ authorBio }}
                    </p>
                    <!-- Social icons -->
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link ps-0 pe-2 fs-5" href="#"
                          ><i class="fab fa-facebook-square"></i
                        ></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link px-2 fs-5" href="#"
                          ><i class="fab fa-twitter-square"></i
                        ></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link px-2 fs-5" href="#"
                          ><i class="fab fa-linkedin"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Author info END -->

              
              
              </div>
              <!-- Main Content END -->

              <!-- Right sidebar START -->
              <div class="col-lg-3">
                <div data-sticky data-margin-top="80" data-sticky-for="991">
                  <!-- Categories -->
                  <div class="row g-2">
                    <h5>Categories</h5>
                    <div
                      class="
                        d-flex
                        justify-content-between
                        align-items-center
                        bg-warning-soft
                        rounded
                        p-2
                        position-relative
                      "
                    >
                      <h6 class="m-0 text-warning">Programming</h6>
                      <a
                        href="#"
                        class="badge bg-warning text-dark stretched-link"
                        >09</a
                      >
                    </div>
                    <div
                      class="
                        d-flex
                        justify-content-between
                        align-items-center
                        bg-info-soft
                        rounded
                        p-2
                        position-relative
                      "
                    >
                      <h6 class="m-0 text-info">Business</h6>
                      <a href="#" class="badge bg-info stretched-link">25</a>
                    </div>
                    <div
                      class="
                        d-flex
                        justify-content-between
                        align-items-center
                        bg-danger-soft
                        rounded
                        p-2
                        position-relative
                      "
                    >
                      <h6 class="m-0 text-danger">StartUp</h6>
                      <a href="#" class="badge bg-danger stretched-link">75</a>
                    </div>
                    <div
                      class="
                        d-flex
                        justify-content-between
                        align-items-center
                        bg-primary-soft
                        rounded
                        p-2
                        position-relative
                      "
                    >
                      <h6 class="m-0 text-primary">JavaScript</h6>
                      <a href="#" class="badge bg-primary stretched-link">19</a>
                    </div>
                    <div
                      class="
                        d-flex
                        justify-content-between
                        align-items-center
                        bg-success-soft
                        rounded
                        p-2
                        position-relative
                      "
                    >
                      <h6 class="m-0 text-success">Technology</h6>
                      <a href="#" class="badge bg-success stretched-link">35</a>
                    </div>
                  </div>

                  <!-- Newsletter START -->
                  <div class="bg-light p-4 mt-4 rounded-3 text-center">
                    <h4>Subscribe to our mailing list!</h4>
                    <form>
                      <div class="mb-3">
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Email address"
                        />
                      </div>
                      <button type="submit" class="btn btn-primary">
                        Subscribe
                      </button>
                      <div class="form-text">We don't spam</div>
                    </form>
                  </div>
                  <!-- Newsletter END -->

                  <!-- Advertisement -->
                  <div class="mt-4">
                    <a href="#" class="d-block card-img-flash">
                      <img src="/assets/images/adv.png" alt="" />
                      <amp-ad width="100vw" height="320"
                         type="adsense"
                         data-ad-client="ca-pub-4252953549104398"
                         data-ad-slot="9160684543"
                         data-auto-format="rspv"
                         data-full-width="">
                        <div overflow=""></div>
                     </amp-ad>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Right sidebar END -->
            </div>
          </div>
        </section>
        <!-- =======================
  Main END -->

        <!-- =======================
  Sticky post START -->
        {# <div
          class="
            sticky-post
            bg-light
            border
            p-4
            mb-5
            text-sm-end
            rounded
            d-none d-xxl-block
          "
        >
          <div class="d-flex align-items-center">
            <!-- Title -->
            <div class="me-3">
              <span>Next post<i class="bi bi-arrow-right ms-3"></i></span>
              <h6 class="m-0">
                <a
                  href="javascript:void(0)"
                  class="stretched-link btn-link text-reset"
                  >Bad habits that people in the industry need to quit</a
                >
              </h6>
            </div>
            <!-- image -->
            <div class="col-4 d-none d-md-block">
              <img src="/assets/images/blog/4by3/05.jpg" alt="Image" />
            </div>
          </div>
        </div> #}
        <!-- =======================
  Sticky post END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->


