<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Developers based News, Magazine and Blog Theme">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/tiny-slider/tiny-slider.css">

    <!-- Theme CSS -->
    <link id="style-switch" rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>

   {% include 'header.njk' %}

   <main>
      {{ content | safe }}
   </main>

   {% include 'footer.njk' %}


      <!-- =======================
JS libraries, plugins and custom scripts -->

    <!-- Bootstrap JS -->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="assets/vendor/tiny-slider/tiny-slider.js"></script>

    <!-- Template Functions -->
    <script src="assets/js/functions.js"></script>

    <script>
      if (window.netlifyIdentity) {
         window.netlifyIdentity.on("init", user => {
            if (!user) {
            window.netlifyIdentity.on("login", () => {
               document.location.href = "/admin/";
            });
            }
         });
      }
    </script>

</body>
</html>