<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWR0047L9B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EWR0047L9B');
    </script>

     
    <title>{{ title }}</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Developers based News, Magazine and Blog stories">
    
   <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="Hiyaar">
    <!-- website name -->
    <meta property="og:site" content="https://stories.hiyaar.com">
    <!-- website link -->
    <meta property="og:title"
        content="{{ title }}">
    <!-- title shown in the actual shared post -->
    <meta property="og:description"
        content="Hiyaar is a freelance marketplace for collaborating and hiring technical writers, content writers and developers. Our platform connects writers and companies or individuals that need them.">
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="{{ image }}">
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="https://stories.hiyaar.com">
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="{{ image }}">
    <!-- to have large image post format in Twitter -->
    <meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@HiyaahInc">
    <!-- Webpage Title -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/tiny-slider/tiny-slider.css">

    <!-- Theme CSS -->
    <link id="style-switch" rel="stylesheet" type="text/css" href="/assets/css/style.css">
    
    <!-- Google Adsense -->

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4252953549104398"

     crossorigin="anonymous"></script>

    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>

   {% include 'header.njk' %}

   <main>
      {{ content | safe }}
   </main>

   {% include 'footer.njk' %}


      <!-- =======================
JS libraries, plugins and custom scripts -->

    <!-- Bootstrap JS -->
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="/assets/vendor/tiny-slider/tiny-slider.js"></script>

    <!-- Template Functions -->
    <script src="/assets/js/functions.js"></script>

    <script>
      if (window.netlifyIdentity) {
         window.netlifyIdentity.on("init", user => {
            if (!user) {
            window.netlifyIdentity.on("login", () => {
               document.location.href = "/admin/";
            });
            }
         });
      }
    </script>
    
    <script type="text/javascript">
      window.onload = function() {
          document.body.style.display = 'none';
          document.body.style.display = 'block';
      };
   </script>

</body>
</html>
