
        <!-- =======================
Main hero START -->
        <section class="p-0">
            <div class="container-fluid">
                <div class="row g-0">
                    <div class="col-xxl-10 mx-auto rounded-3 overflow-hidden">
                        <div class="tiny-slider arrow-hover arrow-blur arrow-round position-relative">
                            <div class="tiny-slider-inner" data-autoplay="true" data-hoverpause="true" data-gutter="2" data-arrow="false" data-dots="true" data-items="1">
                                
                                {%- for post in collections.hero | reverse -%}
                                    {% include 'hero/hero-snippet.njk' %}
                                {%- endfor %} 
                                
                            </div>

                            <!-- Custom thumb START -->
                            <div class="col-xl-4 custom-thumb pe-5 position-absolute top-50 end-0 translate-middle-y d-none d-xxl-block" id="custom-thumb">
                                
                                {%- for post in collections.hero | reverse -%}
                                    {% include 'hero/herocus-snippet.njk' %}
                                {%- endfor %}
                                
                            </div>
                            <!-- Custom thumb END -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
Main hero END -->