    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
Main hero START -->
        <section class="p-0">
            <div class="container-fluid">
                <div class="row g-0">
                    <div class="col-xxl-10 mx-auto rounded-3 overflow-hidden">
                        <div class="tiny-slider arrow-hover arrow-blur arrow-round position-relative">
                            <div class="tiny-slider-inner" data-autoplay="true" data-hoverpause="true" data-gutter="2" data-arrow="false" data-dots="true" data-items="1">
                                <!-- Slide item -->
                                <div class="card bg-dark-overlay-3 rounded-0 h-400 h-lg-500 h-xl-700 position-relative overflow-hidden" style="background-image:url(assets/images/blog/16by9/big/02.jpg); background-position: center left; background-size: cover;">
                                    <!-- Card Image overlay -->
                                    <div class="card-img-overlay rounded-0 d-flex align-items-center">
                                        <div class="container px-3 my-auto">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <!-- Card category -->
                                                    <a href="#" class="badge bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Lifestyle</a>
                                                    <!-- Card title -->
                                                    <h2 class="text-white display-5"><a href="post-single-4.html" class="btn-link text-reset fw-normal">10 tell-tale signs you need to get a new startup.</a></h2>
                                                    <p class="text-white">No visited raising gravity outward subject my cottage Mr be. Hold do at tore in park feet near my case. </p>
                                                    <!-- Card info -->
                                                    <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                        <li class="nav-item">
                                                            <div class="nav-link">
                                                                <div class="d-flex align-items-center text-white position-relative">
                                                                    <div class="avatar avatar-sm">
                                                                        <img class="avatar-img rounded-circle" src="assets/images/avatar/11.jpg" alt="avatar">
                                                                    </div>
                                                                    <span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Louis</a></span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="nav-item">Jan 01, 2022</li>
                                                        <li class="nav-item">5 min read</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide item -->
                                <div class="card bg-dark-overlay-3 rounded-0 h-400 h-lg-500 h-xl-700 position-relative overflow-hidden" style="background-image:url(assets/images/blog/16by9/big/01.jpg); background-position: center left; background-size: cover;">
                                    <!-- Card Image overlay -->
                                    <div class="card-img-overlay rounded-0 d-flex align-items-center">
                                        <div class="container px-3 my-auto">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <!-- Card category -->
                                                    <a href="#" class="badge bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Travel</a>
                                                    <!-- Card title -->
                                                    <h2 class="text-white display-5"><a href="post-single-6.html" class="btn-link text-reset fw-normal">7 common mistakes everyone makes while traveling</a></h2>
                                                    <p class="text-white">Particular way thoroughly unaffected projection favorable Mrs can be projecting own.</p>
                                                    <!-- Card info -->
                                                    <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                        <li class="nav-item">
                                                            <div class="nav-link">
                                                                <div class="d-flex align-items-center text-white position-relative">
                                                                    <div class="avatar avatar-sm">
                                                                        <img class="avatar-img rounded-circle" src="assets/images/avatar/11.jpg" alt="avatar">
                                                                    </div>
                                                                    <span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Larry</a></span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="nav-item">Feb 22, 2021</li>
                                                        <li class="nav-item">2 min read</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide item -->
                                <div class="card bg-dark-overlay-3 rounded-0 h-400 h-lg-500 h-xl-700 position-relative overflow-hidden" style="background-image:url(assets/images/blog/16by9/big/03.jpg); background-position: center left; background-size: cover;">
                                    <!-- Card Image overlay -->
                                    <div class="card-img-overlay rounded-0 d-flex align-items-center">
                                        <div class="container w-100 my-auto">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <!-- Card category -->
                                                    <a href="#" class="badge bg-primary mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Covid-19</a>
                                                    <!-- Card title -->
                                                    <h2 class="text-white display-5"><a href="post-single-4.html" class="btn-link text-reset fw-normal">Initial problem of startups and their solution</a></h2>
                                                    <p class="text-white"> Thirty it matter enable become admire in giving. See resolved goodness felicity shy civility domestic. </p>
                                                    <!-- Card info -->
                                                    <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                        <li class="nav-item">
                                                            <div class="nav-link">
                                                                <div class="d-flex align-items-center text-white position-relative">
                                                                    <div class="avatar avatar-sm">
                                                                        <img class="avatar-img rounded-circle" src="assets/images/avatar/08.jpg" alt="avatar">
                                                                    </div>
                                                                    <span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Dennis</a></span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="nav-item">Jun 17, 2021</li>
                                                        <li class="nav-item">10 min read</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Custom thumb START -->
                            <div class="col-xl-4 custom-thumb pe-5 position-absolute top-50 end-0 translate-middle-y d-none d-xxl-block" id="custom-thumb">
                                <!-- Thumb 1 -->
                                <div class="row align-items-center g-3 mb-4">
                                    <div class="col-auto">
                                        <div class="avatar avatar-lg">
                                            <img class="avatar-img rounded-circle" src="assets/images/blog/16by9/big/02.jpg" alt="avatar">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h4 class="fw-normal text-truncate mb-1">Tell-tale signs you need to get a new startup</h4>
                                        <p class="text-truncate d-block col-11 small mb-0">Departure defective arranging rapturous did believe</p>
                                    </div>
                                </div>
                                <!-- Thumb 2 -->
                                <div class="row align-items-center g-3 mb-4">
                                    <div class="col-auto">
                                        <div class="avatar avatar-lg">
                                            <img class="avatar-img rounded-circle" src="assets/images/blog/16by9/big/01.jpg" alt="avatar">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h4 class="fw-normal text-truncate mb-1">7 common mistakes everyone makes while traveling</h4>
                                        <p class="text-truncate d-block col-11 small mb-0">Particular way thoroughly unaffected projection favorable </p>
                                    </div>
                                </div>
                                <!-- Thumb 3 -->
                                <div class="row align-items-center g-3">
                                    <div class="col-auto">
                                        <div class="avatar avatar-lg">
                                            <img class="avatar-img rounded-circle" src="assets/images/blog/16by9/big/03.jpg" alt="avatar">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h4 class="fw-normal text-truncate mb-1">Initial problem of startups and their solution</h4>
                                        <p class="text-truncate d-block col-11 small mb-0">Drawings offended yet answered Jennings perceive</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Custom thumb END -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
Main hero END -->