                               <div class="card bg-dark-overlay-3 rounded-0 h-400 h-lg-500 h-xl-700 position-relative overflow-hidden" style="background-image:url({{ post.data.image }}); background-position: center left; background-size: cover;">
                                    <!-- Card Image overlay -->
                                    <div class="card-img-overlay rounded-0 d-flex align-items-center">
                                        <div class="container px-3 my-auto">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <!-- Card category -->
                                                    <a href="#" class="badge bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{ post.data.badge }}</a>
                                                    <!-- Card title -->
                                                    <h2 class="text-white display-5"><a href="{{ post.url }}" class="btn-link text-reset fw-normal">{{ post.data.title }}</a></h2>
                                                    <p class="text-white">{{ post.data.shortDesc }}</p>
                                                    <!-- Card info -->
                                                    <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                        <li class="nav-item">
                                                            <div class="nav-link">
                                                                <div class="d-flex align-items-center text-white position-relative">
                                                                    <div class="avatar avatar-sm">
                                                                        <img class="avatar-img rounded-circle" src="{{ post.data.authorImage }}" alt="avatar">
                                                                    </div>
                                                                    <span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">{{post.data.author}}</a></span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="nav-item">{{ post.date | postDate }}</li>
                                                        <li class="nav-item">{{ post.data.timeRead }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>