<!-- Card item START -->
<div class="col-sm-6 col-lg-3">
    <div class="card bg-transparent">
        <!-- Card img -->
        <img class="card-img rounded" src="assets/images/blog/16by9/small/01.jpg" alt="Card image">
        <div class="card-body px-0 pt-3">
            <h6 class="card-title mb-0"><a href="#" class="btn-link text-reset fw-bold">7 common mistakes everyone makes while traveling</a></h6>
            <!-- Card info -->
            <ul class="nav nav-divider align-items-center text-uppercase small mt-2">
                <li class="nav-item">
                    <a href="#" class="text-reset btn-link">Joan Wallace</a>
                </li>
                <li class="nav-item">Feb 18, 2021</li>
            </ul>
        </div>
    </div>
</div>
<!-- Card item END -->
<!-- Card item START -->
<div class="col-sm-6 col-lg-3">
    <div class="card bg-transparent">
        <!-- Card img -->
        <img class="card-img rounded" src="assets/images/blog/16by9/small/02.jpg" alt="Card image">
        <div class="card-body px-0 pt-3">
            <h6 class="card-title mb-0"><a href="#" class="btn-link text-reset fw-bold">12 worst types of business accounts you follow on Twitter</a></h6>
            <!-- Card info -->
            <ul class="nav nav-divider align-items-center text-uppercase small mt-2">
                <li class="nav-item">
                    <a href="#" class="text-reset btn-link">Lori Stevens</a>
                </li>
                <li class="nav-item">Jun 03, 2021</li>
            </ul>
        </div>
    </div>
</div>
<!-- Card item END -->
<!-- Card item START -->
<div class="col-sm-6 col-lg-3">
    <div class="card bg-transparent">
        <!-- Card img -->
        <img class="card-img rounded" src="assets/images/blog/16by9/small/03.jpg" alt="Card image">
        <div class="card-body px-0 pt-3">
            <h6 class="card-title mb-0"><a href="#" class="btn-link text-reset fw-bold">Skills that you can learn from business</a></h6>
            <!-- Card info -->
            <ul class="nav nav-divider align-items-center text-uppercase small mt-2">
                <li class="nav-item">
                    <a href="#" class="text-reset btn-link">Judy Nguyen</a>
                </li>
                <li class="nav-item">Sep 07, 2021</li>
            </ul>
        </div>
    </div>
</div>
<!-- Card item END -->