<!-- =======================
Sponsored news START -->
        <section class="pt-4">
            <div class="container">
                <div class="row">
                    <!-- Title -->
                    <div class="col-md-12">
                        <div class="mb-4 d-md-flex justify-content-between align-items-center">
                            <h2 class="m-0"><i class="bi bi-megaphone me-2"></i> Sponsored stories</h2>
                            <a href="#" class="text-body small"><u>Content by: Hiyaar stories</u></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {%- for post in collections.sponsor | reverse -%}
                        {% include 'sponsored/spon-snippet.njk' %}
                    {%- endfor %} 
                </div>
            </div>
        </section>
        <!-- =======================
Sponsored news END -->