<!-- =======================
Highlights START -->
        <section class="pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Title -->
                        <div class="mb-4">
                            <h2 class="m-0"><i class="bi bi-megaphone"></i> Today's top highlights</h2>
                            <p class="m-0">Latest breaking news, pictures, videos, and special reports</p>
                        </div>
                        <div class="tiny-slider arrow-hover arrow-blur arrow-dark arrow-round mt-3">
                            <div class="tiny-slider-inner" data-autoplay="true" data-hoverpause="true" data-gutter="24" data-arrow="true" data-dots="false" data-items-xl="4" data-items-lg="3" data-items-md="3" data-items-sm="2" data-items-xs="1">

                            {%- for post in collections.today | reverse -%}
                                {% include 'today/today-snippet.njk' %}
                            {%- endfor %} 
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
Highlights END -->