 <!-- =======================
Sports update START -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- Title -->
                    <div class="col-12 mb-4">
                        <h2 class="m-0"><i class="bi bi-laptop me-2"></i>Tech update</h2>
                        <p class="m-0">Get the latest tech news and updates from Startups, React, JavaScript, JAMStack, and Stocck with live stats</p>
                    </div>
                </div>
                <div class="row">
                    
                        
                        {%- for post in collections.update | reverse -%}
                            {% include 'updates/updates-snippet.njk' %}
                        {%- endfor %} 
                        
                    
                    
                    
                </div>
            </div>
        </section>
        <!-- =======================
Sports update END -->